---
import PostLayout from '../../layouts/PostLayout.astro';
---
<PostLayout title="Hello World (04/21/2025)">
  <p>Esse é o meu primeiro post no blog. Estou usando <strong>Astro</strong>.</p>
  <p>Legal, né?</p>
</PostLayout>