---
import PostLayout from '../layouts/PostLayout.astro';
---
<PostLayout title="About Rico">
  <p>How did you get here?</p>

  <p>
    what's next with this blog:
    - rss feed
    - markdown 
    - darkmode
  </p>


</PostLayout>