---
import PostLayout from '../layouts/PostLayout.astro';
---
<PostLayout title="About Rico">
  <p>How did you get here?</p>

  <p>
    what's next with this blog:
    - rss feed
    - markdown 
    - darkmode
  </p>

  <p>
    I'm also the founder of <a href="https://www.joinrefract.com">Refract</a>, a platform for building AI agents.
  </p>

</PostLayout>