---
const { title = 'missin\'frame' } = Astro.props;
---
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.svg" />
    <title>{title}</title>
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/styles/global.css">
    <style>
      .social-links a {
        margin-right: 0.5rem;
      }
      .social-links a:last-child {
        margin-right: 0;
      }
    </style>
  </head>
  <body>
    <slot />


  </body>
</html>