---
import BaseLayout from './BaseLayout.astro';
---
<BaseLayout>
    <div class="frame">
        <h1 class="title">missin'frame</h1>
      </div>
  <ul>
    <li><a href="/posts/megaframeworks">Rico’s Compendium of (not always) useful Mega-Frameworks</a></li>
    <li><a>AI and Sales: How do you sell something that reduces the buyer's own need? (soon)</a></li>
    <li><a>Softskills as @#*!%$!# (soon)</a></li>
    <li><a>The Breath of the Wild Management System (soon)</a></li>
    <li><a>The Suprematism Predictions (soon)</a></li>
    <!-- adicionar mais links manualmente -->
  </ul>

  <footer class="footer">
    <p>
      A Collection of Frames by 
      <a href="/rico" class="footer-author">Rico</a>, 2025
    </p>
    <div class="social-links">
      <a href="https://bsky.app/profile/ricotks.bsky.social" target="_blank" aria-label="BlueSky">
        <img src="/icons/bsky.svg" alt="BlueSky" />
      </a>
      <a href="https://linkedin.com/in/ricokatayama" target="_blank" aria-label="LinkedIn">
        <img src="/icons/linkedin.svg" alt="LinkedIn" />
      </a>
    </div>
  </footer>

  
</BaseLayout>


