---
import BaseLayout from './BaseLayout.astro';
---
<BaseLayout>
    <div class="frame">
        <h1 class="title">missin'frame</h1>
      </div>
  <ul>
    <li><a href="/posts/primeiro-texto">Hello World (04/21/2025)</a></li>
    <li><a href="/posts/primeiro-texto">Hello World (04/21/2025)</a></li>
    <!-- adicionar mais links manualmente -->
  </ul>
</BaseLayout>


